{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumbs %}
<li><a href="{% url "index" %}">Home</a></li>
<li><a href="{% url "contest_home" contest=contest.slug %}">{{ contest.name }}</a></li>
<li><a href="{% url "clarification_list" contest=contest.slug %}">Clarifications</a></li>
<li class="active">{{ clarification.question|truncatechars:20 }}</li>
{% endblock %}

{% block content %}
<h2>{{ contest.name }}</h2>
<hr>
<h3>{{ clarification.problem }} &middot; asked by {{ object.owner }}</h3>
<strong>Question:</strong>
<p>{{ clarification.question }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% bootstrap_icon "comment" %} Save Response</button>
</form>

{% endblock %}
