{% extends "base.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block breadcrumbs %}
  <li><a href="{% url "index" %}">Home</a></li>
  <li><a href="{% url "contest_home" contest=attempt.part.problem.contest.slug %}">{{ attempt.part.problem.contest.name }}</a></li>
  <li><a href="{% url "submission_list" contest=attempt.part.problem.contest.slug %}">Submissions</a></li>
  <li class="active">{{ attempt.owner }} #{{ attempt.id }}</li>
{% endblock %}

{% block content %}
<hr>
<h3>{{ attempt.owner }} &middot; #{{ attempt.id }} &middot; {{ attempt.part.problem.name }} &middot; {{ attempt.part.name }}</h4>

<dl>
    <dt>Time</dt>
    <dd>{{ attempt.created_at }} <small>({{ attempt.created_at|naturaltime }})</small></dd>
    <dt>Status</dt>
    <dd>{{ attempt.get_status_display }}</dd>
    <dt>Reason</dt>
    <dd>{{ attempt.get_reason_display }}</dd>
    <dt>Score</dt>
    <dd>{{ attempt.score }}</dd>
    {% if attempt.reason != 3 %}
    <dt>Diff</dt>
    <dd><a class="btn btn-default btn-sm" href="{% url "attempt_diff_quick" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id %}" target="_blank">{% bootstrap_icon "indent-right" %}&nbsp; Quick diff</a>
        <a class="btn btn-default btn-sm" href="{% url "attempt_diff" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id %}" target="_blank">{% bootstrap_icon "align-left" %} Full diff</a></dd>
    {% endif %}
    <dt>Update</dt>
    <dd>
    <a class="btn btn-success btn-sm" href="{% url "attempt_override" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id action="correct" %}">{% bootstrap_icon "ok" %} Mark Correct</a>
    <a class="btn btn-danger btn-sm" href="{% url "attempt_override" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id action="wrong" %}">{% bootstrap_icon "remove" %} Mark Incorrect</a>
    <a class="btn btn-info btn-sm" href="{% url "attempt_override" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id action="auto" %}">{% bootstrap_icon "refresh" %} Rescore</a>
    </dd>
</dt>

{% endblock %}
