{% extends "base.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block breadcrumbs %}
  <li><a href="{% url "index" %}">Home</a></li>
  <li><a href="{% url "contest_home" contest=contest.slug %}">{{ contest.name }}</a></li>
  <li class="active">Submissions</li>
{% endblock %}

{% block content %}

<h2>{{ contest.name }}</h2>
<hr>
<h3>All Submissions</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Time</th>
      <th>Problem</th>
      <th>Status</th>
      <th>Score</th>
      <th>Reason</th>
      <th></th>
    </tr>
  </thead>
  <tbodY>
{% for attempt in attempts %}
    <tr>
      <td>{{ attempt.owner }}</td>
      <td><span title="{{ attempt.created_at }}">{{ attempt.created_at|naturaltime }}</span></td>
      <td>{{ attempt.part.problem.name }} - {{ attempt.part.name }}</td>
      <td>{{ attempt.get_status_display }}</td>
      <td>{{ attempt.score }}</td>
      <td>{{ attempt.get_reason_display }}</td>
      <td><a href="{% url "attempt_detail" contest=attempt.part.problem.contest.slug attempt_pk=attempt.id %}">view</a></td>
    </tr>
{% empty %}
    <tr>
      <td class="table-empty-message" colspan="7">There are no submissions yet.</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% bootstrap_pagination page_obj %}

{% endblock %}
