<!doctype html>
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load helpers %}
<html>
  <head>
  <title>The Judge</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  {% block head_extra %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1>Judge</h1>
        <div id="auth-area">
          {% if request.user.is_authenticated %}
          {% if contest %}
          {% contest_score contest as cscore %}<strong>{{ cscore }}</strong> points &middot;
          {% elif problem %}
          {% contest_score problem.contest as cscore %}<strong>{{ cscore }}</strong> points &middot;
          {% endif %}
          {{ request.user.username }} &middot; <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="page" class="container">
      <ol class="breadcrumb">
        {% block breadcrumbs %}
        <li class="active">Home</li>
        {% endblock %}
      </ol>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
