{% extends "base.html" %}
{% load helpers %}
{% load bootstrap3 %}

{% block content %}

<div class="row" id="contest-header">
  <div class="col-md-8">
    <h2>{{ contest.name }}</h2>
  </div>
  <div class="col-md-4">
    <dl id="contest-times" class="dl-horizontal">
        <dt>Contest Begins: </dt>
        <dd>{{ contest.begin_at }}</dd>
        <dt>Contest Ends: </dt>
        <dd>{{ contest.end_at }}</dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h4>Problems</h4>
    {% user_is_contestant contest as competing %}
    {% if competing or contest.has_ended %}
    <div class="list-group">
      {% if contest.has_begun %}
        {% for problem in contest.problems.all %}
        <a class="list-group-item" href="{% url 'problem_home' contest=problem.contest.slug slug=problem.slug %}">
            {{ problem }}
            
            {% if competing %}
            {% problem_score problem as score %}
            <div class="progress problem-score-progress">
                {% if score < 0 %}
                <div class="progress-bar progress-not-attempted" role="progressbar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  Not Attempted
                </div>
                {% else %}
                <div class="progress-bar" role="progressbar"
                    aria-valuenow="{{ score }}"
                    aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ score|as_pct:100 }}%;">
                  {{ score }} points
                </div>
                {% endif %}
            </div>
            {% endif %}
        </a>
        {% endfor %}
      {% else %}
        <div class="jumbotron">
            When the contest begins, problems will be listed here for you
            to solve. Please be patient!<br>
            The contest begins in <strong>{{ contest.begin_at|timeuntil }}</strong>.
        </div>
      {% endif %}
    </div>
    {% else %}
    <div class="jumbotron">
        Only registered contestants may view the problems in this contest.<br>
        <h3>Ready to compete?</h3>
        <a href="#" class="btn btn-primary">{% bootstrap_icon "star" %} Enter Contest</a><br>
        <br>
        {% if contest.is_ongoing %}
        This contest is in progress!
        {% else %}
        The contest begins in <strong>{{ contest.begin_at|timeuntil }}</strong>.
        {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="col-md-4">
    <h4>Rules</h4>
    <p>
    {{ contest.description }}
    </p>
  </div>
</div>

{% endblock %}
