{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load helpers %}

{% block breadcrumbs %}
  <li><a href="{% url "index" %}">Home</a></li>
  <li><a href="{% url "contest_home" contest=problem.contest.slug %}">{{ problem.contest.name }}</a></li>
  <li class="active">{{ problem.name }}</li>
{% endblock %}

{% block content %}
{% user_is_contestant problem.contest as competing %}

<h2>{{ problem.contest.name }}</h2>
{% static problem.pdf_relative as pdf_url %}
{% problem_score problem as score %}

<div id="problem-header">
    <h3><a href="{% url "problem_home" contest=problem.contest.slug slug=problem.slug %}">
      {{ problem }}
    </a></h3>
  <div id="problem-actions">
    <a class="btn btn-default" href="{{ pdf_url }}">
      {% bootstrap_icon "file" %} PDF
    </a>
    <a class="btn btn-default" href="{% url "problem_clarifications" contest=problem.contest.slug slug=problem.slug %}">
        {% with clarct=problem.clarifications.count %}
        {% bootstrap_icon "question-sign" %} Clarifications{% if clarct > 0 %} <span class="badge">{{ clarct }}</span>{% endif %}
        {% endwith %}
    </a>
    {% if competing %}
    <a class="btn btn-default" href="{% url "problem_submissions" contest=problem.contest.slug slug=problem.slug %}">
      {% bootstrap_icon "book" %} My Submissions
    </a>
    {% if attempt and attempt.status == 1 %}
    <a class="btn btn-primary" href="{% url "problem_submit" contest=problem.contest.slug slug=problem.slug attempt_pk=attempt.id part=attempt.part.name %}">
      {% bootstrap_icon "dashboard" %} Attempt In Progress
    </a>
    {% else %}
    {% problem_next_part problem as nextpart %}
    {% if nextpart %}
    <a class="btn btn-primary" href="{% url "problem_start_submit" contest=problem.contest.slug slug=problem.slug part=nextpart.name %}">
      {% bootstrap_icon "cloud-upload" %} Solve {{ nextpart.name }}
    </a>
    {% else %}
    <span class="problem-solved-lbl">Solved {% bootstrap_icon "ok" %}</span>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6">
      <span id="time-limit">Time Limit: {{ problem.time_limit }} seconds</span>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <span id="scores">
          {% if score < 0 %} Not Attempted {% else %} Your Score: <strong>{{ score }}pts</strong>
          {% endif %} &middot; Max Score: {{ problem.total_points }}pts &middot; {{ problem.parts.count }} part(s)
      </span>
    </div>
  </div>
</div>

{% block problem_content %}
<iframe id="problem-view" src="{{ pdf_url }}"></iframe>
{% endblock %}

{% endblock %}
