#header {
    background-color: #EFEFEF;
    padding-top: 3em;
}

#header h1 {
    display: inline-block;
    margin-top: 0px;
}

#header #auth-area {
    display: inline-block;
    float: right;
    font-size: 16px;
    padding-top: 16px;
}

#problem-view {
    width: 100%;
    height: 600px;
}

#problem-header h3 {
    display: inline-block;
    margin-top: 0px;
}

#problem-header #problem-actions {
    display: inline-block;
    float: right;
}

#contest-header {
    margin-top: 20px;
}

#contest-header h2 {
    margin-top: 6px;
}

.problem-score-progress {
    display: inline-block;
    float: right;
    width: 50%;
}

.progress-bar.progress-not-attempted {
    width: 100%;
    background-color: #FFFFFF;
    color: #454545;
}

#input-panel {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#timer {
    font-weight: bold;
}

.table-empty-message {
    text-align: center;
    font-weight: bold;
}

.problem-solved-lbl {
    display: inline-block;
    color: #5CB85C;
    padding-left: 8px;
    font-weight: bold;
}

textarea.sample {
    width: 100%;
    height: 400px;
}
